body {
  font-family: 'Spectral SC', serif;
}

html {
  width: auto;
}

.hero-image {
  vertical-align: top;
  position: fixed;
  text-align: center;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 400px;
  margin-top: -250px; /* Half the height */
  margin-left: -500px; /* Half the width */
  float: left;
}

.caption {
  display: block;
}

@media only screen and (max-width: 400px) {
  img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 460px;
    height: 200px;
    margin-top: -100px;
    margin-left: -230px;
  }
}

@media only screen and (min-width: 400px) {
  img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    margin-top: -100px;
    margin-left: -250px;
  }
}

@media only screen and (min-width: 600px) {
  img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    margin-top: -100px;
    margin-left: -250px;
  }
}

@media only screen and (min-width: 650px) {
  img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    margin-top: -100px;
    margin-left: -250px;
  }
}

@media only screen and (min-width: 850px) {
  img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 760px;
    height: 400px;
    margin-top: -200px; /* Half the height */
    margin-left: -380px; /* Half the width */
  }
}

@media only screen and (min-width: 950px) {
  img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 940px;
    height: 400px;
    margin-top: -200px; /* Half the height */
    margin-left: -470px; /* Half the width */
  }
}

@media only screen and (min-width: 1000px) {
  img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 400px;
    margin-top: -200px; /* Half the height */
    margin-left: -500px; /* Half the width */
  }
}

@media only screen and (max-width: 4000px) {
  .hero-image img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 400px;
    margin-top: -200px; /* Half the height */
    margin-left: -500px; /* Half the width */
  }
}

.navbar {
  background-color: #fff;
  overflow: hidden;
  height: 100px;
}

.navbar a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}

.navbar a:hover {
  background-color: #fff;
  color: #000;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

@media (max-width: 568px) {
  .navbar-nav {
    display: none;
  }
}

@media (min-width: 750px) {
  .open-slide {
    display: none;
  }
}

@media (min-width: 568px) {
  /*.open-slide{display:none}*/
}
